<h3>Создание новой записи!</h3>
<form action="" method="POST">
  <input name="title" size="103" type="text" placeholder="Заголовок">
  <textarea style="resize: none;" name="mess" cols="100" rows="20" placeholder="Ваше сообщение" required="true"></textarea>
  <br/>
  <input type="submit" value="Отправить!">
</form>