<h1>Регистрация:</h1>
<form action="" method="POST">
  <table>
    <tr>
      <input style="width: 520px" name="email" type="text" placeholder="E-mail"><br>
      <input style="width: 520px" name="login" type="text" placeholder="Логин (по-английски или транслитом)"><br>
      <input style="width: 520px" name="password" type="text" placeholder="Пароль (используйте только буквы английского языка и цифры)"><br>
      <input style="width: 520px" name="name" type="text" placeholder="Имя персонажа"><br>
    </tr>
    <tr><td>
      <input type="radio" name="land" value="Конохагакуре"> Конохагакуре<br/>
      <input type="radio" name="land" value="Ямагакуре"> Ямагакуре<br/>
      <input type="radio" name="land" value="Такигакуре"> Такигакуре<br/>
      <input type="radio" name="land" value="Сунагакуре"> Сунагакуре<br/>
    </td>
      <td>
        <p style="width: 400px;">
          <span style="color: red;">*<b>Внимание!</b></span>
          Выбор деревни - дело ответственное, поэтому, лучше сначала прочитать правила, так как каждое селение имеет свои особенности. Изменение деревни в будущем - дело сложное...
        </p>
      </td></tr>
  </table>
  <br><input type="submit" value="Зарегистрироваться!">
</form>