<h3>Личное сообщение для <%= request.params[:send_to] %></h3>
<form action="" method="POST">
  <input name="subj" size="103" type="text" placeholder="Тема"><br/>
  <textarea style="resize: none;" name="mess" cols="101" rows="30" type="text" placeholder="Сообщение"></textarea><br/>
  <input type="submit" value="Отправить!">
</form>