<h1>Добро пожаловать в Ичираку, самое вкусное и универсальное кафе!</h1>
<p style="text-align: left; margin-left: 10px; margin-right: 10px;">
  Кафе "Ичираку" предлагает к вашим услугам огромный ассортимент еды, которая так или иначе вопсполняет ваше здоровье, или же, придает сил для следующего задания/боя.<br/>
  Благодаря нашему шеф-повару, в Ичираку, нам удалось собрать рецепты кухонь многих стран мира: от русских пельменей и грузинских хенкали, до японских роллов и американского фаст-фуда!<br/>
  Еда отличается не только названием и ценой, но и результатом ее действия, к примеру: фаст-фуд - самая "дешевая" еда в Ичираку, но и восполнение энергии у него не большое, а так же с шансом в 30% вы можете заработать ожирение, которое понизит вашу ловкость.<br/>
  Однако, например русские пельмени, наоборот, восстановят достаточное количество энергии, но есть высокий риск отравиться сырым мясом. Поэтому, выбираем еду дороже и не рискуем! Хотя, кому я это говорю :)<br/>
  Всем удачи, и помните, в Больнице всегда можно избавится от отрицательных эффектов, но за дополнительную плату! (Скупой всегда платит дважды)<br/><br/><br/>
  Ваш баланс: <%= @authorized ? (@money):(0) %> рё<br/>
</p>
<form action="" method="POST">
  <select size="13" style="width: 60%;" multiple name="kind">
    <option disabled>Выберите блюдо:</option>
    <option value="small">Хенкали (75 рё, 10 энерегии, 40% заразность)</option>
    <option selected value="small">Пельмени (75 рё, 10 энерегии, 40% заразность)</option>
    <option value="small">Роллы (75 рё, 10 энерегии, 40% заразность)</option>
    <option value="normal">Сочный гамбургер (120 рё, 20 энерегии, 25% заразность)</option>
    <option value="normal">Горячий Рамен (120 рё, 20 энерегии, 25% заразность)</option>
    <option value="normal">Щи или Борщ (120 рё, 20 энерегии, 25% заразность)</option>
    <option value="bigfood">Шашлык с овощами (185 рё, 29 энерегии, 13% заразность)</option>
    <option value="bigfood">Огромный стейк из свинины (185 рё, 29 энерегии, 13% заразность)</option>
    <option value="bigfood">Жаркое из рыбы и водорослей в соевом соусе (185 рё, 29 энерегии, 13% заразность)</option>
    <option value="superfood">Манты обжареные на сковороде (210 рё, 50 энерегии, 7% заразность)</option>
    <option value="superfood">Рисовые шарики с огромной порцией роллов и саке (210 рё, 50 энерегии, 7% заразность)</option>
    <option value="superfood">Тройной гамбургер + слой бекона и два дополнительных сыра (210 рё, 50 энерегии, 7% заразность)</option>
  </select>
  <br/>
  <input type="submit" value="Приступить к трапезе!">
</form>