<h3>Создание нового раздела!</h3>
<form action="" method="POST">
  <input name="name" size="103" type="text" placeholder="Название нового раздела"><br/>
  <input name="link" size="103" type="text" placeholder="Ссылка на раздел (транслитом)"><br/>
  <input type="radio" name="where" value="Общее"> Общее
  <input type="radio" name="where" value="Правила и ОСП">ОСП
  <input type="radio" name="where" value="Деревня скрытой Листвы"> Коноха
  <input type="radio" name="where" value="Деревня скрытого Песка"> Песок
  <input type="radio" name="where" value="Деревня скрытого Вулкана"> Вулкан
  <input type="radio" name="where" value="Деревня скрытого Водопада"> Водопад
  <input type="submit" value="Отправить!">
</form>